<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmus.nhom21.parcheesigame">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="hcmus.nhom21.parcheesigame.MainActivity" android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name="hcmus.nhom21.parcheesigame.BootActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="hcmus.nhom21.parcheesigame.RunningGameActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name="hcmus.nhom21.parcheesigame.RuleActivity" android:screenOrientation="portrait">

        </activity>
        <activity android:name="hcmus.nhom21.parcheesigame.SetUpNewGameActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="hcmus.nhom21.parcheesigame.WinGameActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="hcmus.nhom21.parcheesigame.CopyRightInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="hcmus.nhom21.parcheesigame.LoseGameActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="hcmus.nhom21.parcheesigame.SettingMenuActivity" android:screenOrientation="portrait"></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>